body {
    font-family: '-apple-system', 'BlinkMacSystemFont', sans-serif;
}

small {
    font-weight: 200;
    color: rgba(255, 255, 255, 0.5)
}

div.message {
    font-size: 1.5rem;
}
.message {
  font-weight: 300;
  border-radius: .2rem;
  padding: 1rem;
  border: solid #171717;
  margin: 1rem;
  color: #fff;
  background: rgba(0,0,0,0.1);
  text-shadow: -2px 2px 0 #171717, -3px 3px 0 #171717, -4px 4px 0 #171717;
  -webkit-box-shadow: inset 0px 7px 0 #171717;
  box-shadow: inset 0px 7px 0 #171717;
}

a{
  color:grey !important;
  text-decoration: none !important;
}

.contents {
    background: rgba(0, 0, 0, 0.1);
    width: 900px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    text-align: center;
    height: 100vh;
}

body {
    background: url("http://api.thumbr.it/whitenoise-361x370.png?background=292929ff&noise=626262&density=12&opacity=23");
}

.flex-space-around{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#img {
    zoom: 300%;
    -webkit-filter: grayscale(70%) contrast(120%) blur();
    filter: grayscale(70%) contrast(120%) blur();
    cursor: pointer;
    -webkit-animation: hvr-buzz-out 20s infinite;
    animation: hvr-buzz-out 20s infinite;
}
#zoom {
    display: block;
    position: absolute;
    zoom: 550%;
    top: -10%;
    z-index: -1;
    -webkit-filter: blur(1.5px);
    -webkit-filter: opacity(20%);
    -webkit-filter: contrast(150%);
    -webkit-filter: grayscale(200%);
    filter: blur(1px) opacity(20%) contrast(150%) grayscale(200%);
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

#getQuote {
  border: solid #171717;
  background: rgba(255, 255, 255, 0.06);
  color: #4e4e4e;
  padding: 0.4rem 0.2rem 0.7rem;
  font-family: inherit;
  -webkit-box-shadow: 0rem 0.5rem rgba(0, 0, 0, 0.4);
  box-shadow: 0rem 0.5rem rgba(0, 0, 0, 0.5);
  margin: 0.2rem 1rem;
  padding: 1rem;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.4);
}

.loader {
    width: 20%;
    -webkit-filter: grayscale(90%) contrast(150%);
    filter: grayscale(90%) contrast(150%);
    -webkit-animation: hvr-buzz-out 1s infinite;
    animation: hvr-buzz-out 1s infinite;
}

#point{
  display: none;
}

.pop {
    -webkit-animation: hvr-bob 2s infinite;
    animation: hvr-bob 2s infinite;
    text-shadow: 0px 3px 4px black;
}

#loader{
  display: block;
}
.footer {
  margin-top: 10rem;
  padding:4rem 0;
  text-align: center;
  color: white;
}
.copy{
  color:rgba(255,225,255, 0.2);
  text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
}
.contact {
    color:rgba(255,225,255, 0.2);
    line-height: 1.5rem;
    font-size: 1rem;
    text-align: left;
}
.jack{
  color:rgba(255,225,255, 0.2);
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.footing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}
.contact a{
  color:rgba(255,225,255, 0.2);
  text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
}
a:visited {
  text-decoration: none;
  color:rgba(255,225,255, 0.2);
  text-shadow:-1px 1px 0px rgba(0,0,0,0.2);
}
a:hover {
  text-decoration: none;
  color:rgba(255,225,255, 0.2) important!;
  text-shadow:-1px 1px 0px rgba(0,0,0,0.2) important!;
}
.logo-lower{
  width: 10px;
}

.button-press {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform box-shadow;
    transition-timing-function: ease-out;
}
.button-press:hover, .button-press:focus, .button-press:active {
    transform: translateY(3px);
    box-shadow: 0rem 0.2rem rgba(0, 0, 0, 0.5), 0rem 0.5rem 1rem rgb(33, 33, 33) !important;
}

/* ------ Mobile ------ */
@media (min-device-width: 100px) and (max-device-width: 400px) {
    .contents {
      padding: 0;
      max-width: 100%;
    }
    div.message{
      font-size: 0.8rem;
    }
    body{
      font-size: 1rem;
    }
    #getQuote{
      margin: 0.5rem auto;
      padding: 0.8rem 0.8rem 2.5rem;
    }
    .contact{
      font-size: 0.8rem;
    }
    .footer{
      margin: 0;
    }
    .jack{
      font-size: 0.7rem;
    }

}
